<nav *ngIf="totalPages() > 1">
    <ul class="pagination">
        <li class="first" *ngIf="page > 2">
            <a (click)="pageClicked(1)" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        <li class="previous" [class.disabled]="page == 1">
            <a (click)="pageClicked(prevPage(page != 1))" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="current" *ngFor="let p of pagesRange()" [class.active]="page == p">
            <a *ngIf="page == p" pagHighlight (click)="pageClicked(p)">
                {{ p }} <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="next" [class.disabled]="totalPages() <= page">
            <a (click)="pageClicked(nextPage(totalPages() > page))" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="last" *ngIf="page < totalPages()-1">
            <a (click)="pageClicked(totalPages())" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<ul class="pagination">
    <li *ngFor="let lim of limits" [class.active]="limit == lim">
        <a pagHighlight (click)="limitClicked(lim)">{{ lim }}</a>
    </li>
</ul>
